---
import Layouts from "@/layouts/Layouts.astro";

import { ScreenHeightContainer } from "@/components/LayoutComponents";
---

<Layouts>
    <ScreenHeightContainer>
        <div>
            <h1>Welcome to Astro Blogsite</h1>
            <p>This is a simple blogsite built with Astro.</p>
        </div>
    </ScreenHeightContainer>
</Layouts>
