---
import githubLogoDark from "../../assets/trademark/github/GitHub_Invertocat_Dark.svg";
const { src, platform } = Astro.props;

let iconPath = "";
let altText = "";
if (platform == "github") {
    iconPath = githubLogoDark.src;
    altText = "GitHub";
}
---

<a
    href={src}
    target="_blank"
    id="clickable-area"
    class="m-0 p-0 flex items-center justify-center"
>
    <div id="icon-area" class="px-1">
        <img src={iconPath} width="24px" height="24px" alt={altText} />
    </div>
</a>

<style>
    div {
        color: black;
        transition: color 0.5s;
        transition-timing-function: ease-in-out;
    }

    div:hover {
        color: dimgrey;
    }
</style>
