---
import SocialBadge from "./widget/social-badge.astro";
---

<footer>
    <p>
        Hello, so here is the footer element. and I'll change this to a modern
        one later. :)
    </p>
    <SocialBadge platform="Here" text="is an example" link="/" />
</footer>
