---

---

<div class="w-full flex justify-between items-center" id="container">
    <div id="head"></div>
    <div id="center"></div>
    <div id="nav"></div>
</div>

<style>
    #container {
        font-family:
            Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
            sans-serif;
    }
</style>
