---
import "../styles/global.css";

import { ModeToggle } from "../components/ModeToggle";

import { ClientRouter } from "astro:transitions";

// processing the title
const { title, description } = Astro.props;
let titleStyled = title;
if (titleStyled) {
    titleStyled += " - welki's space";
} else {
    titleStyled = "welki's space";
}
---

<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>{titleStyled}</title>
        <meta name="description" content={description} />
        <ClientRouter />
    </head>
    <body>
        <div
            id="header"
        >
            <ModeToggle client:load />
        </div>
        <div
            id="container"
        >
            <slot />
        </div>
        <div id="footer">
            <div
                id="footer-container"
            >
            </div>
        </div>
    </body>
</html>
