---
import "../styles/global.css";

import { ModeToggle } from "@/components/ModeToggle";
import { FooterLinkContainer } from "@/components/LayoutComponents";

import { ClientRouter } from "astro:transitions";

// processing the title
const { title, description } = Astro.props;
let titleStyled = title;
if (titleStyled) {
    titleStyled += " - welki's space";
} else {
    titleStyled = "welki's space";
}
---

<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>{titleStyled}</title>
        <meta name="description" content={description} />
        <ClientRouter />
    </head>
    <body class="min-h-screen scroll-smooth">
        <div id="header" class="fixed top-0 left-0 w-full backdrop-blur-xl">
            <div id="header-container" class="mx-4 flex h-12 flex-1 flex-row items-center justify-between p-2">
                <p class="font-dotted text-[20px]">welki's space</p>
                <ModeToggle client:load />
            </div>
        </div>
        <div id="body" class="min-h-dvh w-full bg-teal-50 py-12 dark:bg-zinc-950">
            <div id="body-container" class="mx-4 gap-4 p-2">
                <slot />
            </div>
        </div>
        <div id="footer" class="w-full bg-teal-950 dark:bg-zinc-800">
            <FooterLinkContainer />
        </div>
    </body>
</html>
